.navItem {
    @apply flex h-full items-center text-font16 font-light;
    position: relative;

    &:hover {
        @apply underline;
        span {
            transform: translate(-50%, -50%) scaleX(1);
        }
    }
}

.activeNavItem {
    span {
        @apply underline;
        transform: translate(-50%, -50%) scaleX(1);
    }
}
